/* Design sourse by rdewolf127 http://codepen.io/rdewolf127/pen/ILHsn */

/* Background IMG */
body{
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/foggy_birds.png")
}

/* img of Myself */
.photo img{
  height:180px;
  width:175px;
  position:absolute;
  left:55px;
  top:250px;
  border:5px solid white;
  box-shadow:5px 5px 5 px #888888; 
  border-radius: 50%;
}

/* Top of the Page */
.top{
	height:15px;
	width:100%;
	margin:0px 0px 60px 0px;
}

/* Main Wrap */
#wrapper-main {
    width:960px;
    position:relative;
    margin:auto;
 }

/* Navigation Links */
.nav {
  position:absolute;
  left:-20px;
  margin:0px;
}
.nav ul li{
	background-color:#6E4D51;
	display:inline;
	padding:20px 46px 30px 5px;
  box-shadow:5px 5px 5px #888888;
  transition: all 1s;

}
.nav ul li a{
	text-decoration:none;
	color:#EBE4BE;
	font-family: 'Goudy Old Style';
	font-size:18px;

}
.nav ul li a:hover{
	text-decoration:none;
	color:#AD8561;
	font-family: 'Baskerville Old Face';
	font-size:18px;
	background-color:none;
	padding:20px 5px 20px 5px;
}
li:hover {
  border-radius: 25%;
}

/* Second Background and Subtitle */
.name {
    background-color:#AD8561;
    width:900px;
    height:1200px;
    margin:45px 70px 70px 20px;
    padding:30px;
    float:left;
    color:#EBE4BE;
    font-family: 'Baskerville Old Face';
    font-size:75px;
    position:relative;
    text-align: center;
}
.name .subtitle{
	color:#EBE4BE;
	font-size:30px;
	position:absolute;
	left:338px;
	margin:10px;
  top:110px;
}
.subtitle {
  font-family: 'Palatino Linotype';
}

/* Bio */
.me p {
  color:#EBE4BE;
	font-size:17px;
  position: relative;
  bottom: 1110px;
  width: 65%;
  left: 300px;
  font-family: 'Goudy Old Style';
}

/* Resume Heading Color */
h1 {
  font-family: 'Baskerville Old Face';
  color:#6E4D51;
  float: left;
  padding: 1%;
  margin: .16666667%;
  width: 56%;
  position: relative;
  bottom: 1110px;
  left:50px;
}
h3 {
  color:#6E4D51;
  font-family: 'Goudy Old Style';
}

/* Resume Info Design */
article {
  color:#EBE4BE;
  float: left;
  padding: 1%;
  margin: .16666667%;
  width: 56%;
  position: relative;
  bottom: 1120px;
  left:50px;
}
aside li {
  color:#EBE4BE;
	font-size:17px;
  float: left;
  padding: 1%;
  margin: .025;
  width: 33%; 
   position: relative;
  bottom: 1060px;
  left:100px;
  list-style-type: none;
}
aside h3 {
  font-size: 20px;
  color:#6E4D51;
  position: relative;
  bottom: 1040px;
  left:108px;
  list-style-type: none;
}

p{
  font-family: 'Goudy Old Style';
  font-size: 18px;
}

ul {
  font-family: 'Goudy Old Style';
  font-size: 18px;
}
/* Footer */
footer {
  clear: both;
}
